*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#020617;
    color:white;
    font-family:Segoe UI, Arial, sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    padding:60px 10%;
}

.hero-content{
    max-width:620px;
}

.hero-content h1{
    font-size:4rem;
    margin-bottom:15px;
}

.hero-content h2{
    color:#38bdf8;
    font-size:1.8rem;
    margin-bottom:25px;
}

.hero-content p{
    font-size:1.15rem;
    line-height:1.7;
    color:#cbd5e1;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:15px 32px;
    background:#38bdf8;
    color:#020617;
    font-weight:700;
    text-decoration:none;
    border-radius:12px;
}

.hero-image{
    width:330px;
    height:330px;
    border-radius:50%;
    overflow:hidden;
    border:5px solid #38bdf8;
    box-shadow:0 0 45px rgba(56,189,248,.35);
    flex-shrink:0;
}

.hero-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center 25%;
}

@media(max-width:900px){
    .hero{
        flex-direction:column-reverse;
        text-align:center;
        gap:35px;
        padding:40px 7%;
    }

    .hero-content h1{
        font-size:2.8rem;
    }

    .hero-image{
        width:250px;
        height:250px;
    }
}
